body {
    background-color: azure;
}

.subtext {
    font-family: sans-serif;
    color: darkslategray;
}

a {
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    background-color: burlywood;
    text-decoration: underline;
    border-style: outset;
}